## Please list additional packages with version numbers

matplotlib==3.4.3
aif360==0.4.0
cvxpy==0.4.11
numpy==1.19.5
pandas==1.3.3
scikit_learn==0.24.2
scipy==1.5.4
tensorflow==2.6.0
llvmlite==0.36.0
fairlearn==0.7.0